* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

div.login {
    margin: auto;
    padding: 20px;
    max-width: 300px;
}
input.login {
    color: rgb(168, 168, 168);
    background-color: whitesmoke;
    border: 0px solid whitesmoke;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 30px;
}
input.login:focus {
    color: black;
    background-color: lightgray;
    outline: none;
}

div.title {
    background-color: lightgray;
    border: 1px solid lightgray;
    margin: 10px 10px;
}
p.title {
    text-align: center;
}
label.title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    background-color: whitesmoke;
    border: 0px solid lightgray;
    padding: 9px 16px;
    transition: 0.1s;
}
button:hover {
    border-bottom: 4px solid gray;
}
button:disabled {
    cursor: not-allowed;
    color: grey;
    border-bottom: 4px solid lightgray;
}
button.logout:hover {
    border-bottom: 4px solid red;
}

.rooster-container {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: 200px;
}
.rooster-item, .popular-item {
    background-color: lightgray;
    padding: 5px 20px 5px 20px;
}
.rooster-item p, .popular-item p {
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.popular-container {
    float: left;
    max-width: 33%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: auto auto;
    grid-auto-rows: 200px;
}

.information {
    background-color: sandybrown;
    padding: 10px;
    padding-left: 30px;
    float: right;
    max-width: 67%;
}