* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: darkgray;
}
::-webkit-scrollbar-thumb {
    background: gray;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
}

div.login {
    margin: auto;
    padding: 20px;
    max-width: 300px;
}
input.login {
    color: rgb(168, 168, 168);
    background-color: whitesmoke;
    border: 0px solid whitesmoke;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 30px;
}
input.login:focus {
    color: black;
    background-color: lightgray;
    outline: none;
}

div.title {
    background-color: lightgray;
    border: 1px solid lightgray;
    margin: 10px 10px;
}
p.title, label.title {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    background-color: whitesmoke;
    border: 0px solid lightgray;
    padding: 9px 16px;
    transition: 0.1s;
}
button:hover {
    border-bottom: 5px solid gray;
}
button:disabled {
    cursor: not-allowed;
    color: grey;
    border-bottom: 5px solid lightgray;
}
button.logout:hover {
    border-bottom: 5px solid red;
}

.information {
    background-color: sandybrown;
    padding: 10px;
    padding-left: 30px;
    float: right;
    max-width: 67%;
}

hr.separator {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.ws-item, .ws-slot {
    height: 13em;
    background-color: lightgray;
    border: 1px solid gray;
}
.ws-slot h4, .ws-item h4 {
    font-weight: 700;
}
.ws-item button.fa.fa-trash {
    visibility: hidden;
    margin-top: 5px;
    float: right;
    background-color: lightgray;
    font-size: 26px;
}
.ws-item button.fa.fa-trash:hover {
    color: red;
    border-bottom: 0px;
}
.ws-slotrow button.fa.fa-trash {
    visibility: visible;
}
.ws-description {
    height: 6em;
    overflow-y: auto;
}
.ws-description p {
    margin-top: 0;
}

.ws-itemrow {
    padding: 3px;
    background: darkgray;
}